
<h2 class="page-header">Insurance</h2>
<p style="color: whitesmoke" > Welcome to insurance Dashboard</p>
<br>
<br>
<br>

<form action="/insurance/insurance_claim" method="post">
    <section>
        <div class="row">
            <div class="col-sm-2">

            </div>
            <div class="col-sm-9">
                <h5>Enter vehicle registration number</h5>
                <br>
                <br>
                <b> Example : WP KM 6497 </b>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="form-group" style="color:black">
            <div class="col-sm-2">

            </div>
            <div class="col-sm-2">
                <input type="text" pattern="[A-Za-z]{2}" class="form-control" list="province" name="vehiclestate" value="" maxlength="2" size="2" id="smallsearchbox" required="">
                <datalist id="province">
                    <option value="WP">
                    <option value="CP">
                    <option value="UP">
                    <option value="SP">
                    <option value="SE">
                    <option value="SG">
                    <option value="NP">
                    <option value="EP">
                    <option value="NC">
                </datalist>
            </div>
            <div class="col-sm-2">
                <input type="text" pattern="[A-Za-z]{2-3}" class="form-control" name="vehicleregistration" value="" maxlength="3" size="3" id="smallsearchbox1" required="">
            </div>
            <div class="col-sm-3">
                <input type="text" pattern="[0-9]{4}" class="form-control" name="vehicleno" value="" maxlength="4" size="12" id="medsearchbox" required="">
            </div>
            <div class="col-sm-2">
                <button type="submit" class="btn btn-info">Find</button>
                <!--   <input type="submit" value="Find"> -->
            </div>
        </div>
    </div>


    </section>
</form>

<br>
<br>
