<h2 class="page-header">Insurance</h2>
<p> Welcome to insurance Dashboard</p>
<br>
<form action="/insurance/insurance_claim" method="post">
    <h5>Enter vehicle registration number</h5>
    <b> Example WP KM 6497 </b>
    <br>
    <div class="form-group">
        <input type="text" name="vehiclestate" value="" maxlength="2" size="2" id="smallsearchbox" required="">
        <input type="text" name="vehicleregistration" value="" maxlength="3" size="3" id="smallsearchbox1" required="">
        <input type="text" name="vehicleno" value="" maxlength="4" size="12" id="medsearchbox" required="">
    </div>
    <button type="submit" class="btn btn-default">Find</button>
<!--   <input type="submit" value="Find"> -->
</form>

<br>
<br>
