<h2 class="page-header">Register Vehicle</h2>
<form method="post" action="/register_vehicle">
  <div class="form-group">
    <label>Vehicle No</label>
    <input type="text" class="form-control" name="vehicle_no" placeholder="Vehicle Number">
  </div>
  <div class="form-group">
    <label>Chasis No</label>
    <input type="text" class="form-control" name="chasis_no" placeholder="Chasis Number">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>