<h2 class="page-header">General User</h2>

<h4>Search Vehicle Information</h4>

<form action="#" method="post">
    <br>
    <h4>Enter vehicle registration number</h4>
    <br>
    <b> Example WP KM 6497 </b>
    <br>
    <input type="text" name="vehiclestate" value="" maxlength="2" size="2" id="smallsearchbox">
    <input type="text" name="vehicleregistration" value="" maxlength="2" size="2" id="smallsearchbox1">
    <input type="text" name="vehicleno" value="" maxlength="8" size="12" id="medsearchbox">
    <input class="book-btn" type="submit" value="Find">
</form>
