<h2 class="page-header">General User</h2>

<h4>Search Vehicle Information</h4>

<form action="#" method="post">
    <br>
    <h4>Enter vehicle registration number</h4>
    <br>
    <b> Example WP KM 6497 </b>
    <br>
    <input type="text" name="vehiclestate" value="" maxlength="2" size="2" id="smallsearchbox" required="">
    <input type="text" name="vehicleregistration" value="" maxlength="2" size="2" id="smallsearchbox1" required="">
    <input type="text" name="vehicleno" value="" maxlength="9" size="12" id="medsearchbox" required="">

    <button type="submit" class="btn btn-default">Find</button>
<!--    <input class="book-btn" type="submit" value="Find"> -->
</form>
