<h2 class="page-header">Register Vehicle</h2>
<form method="post" action="/register_vehicle">
  <div class="form-group">
    <label>Vehicle No</label>
    <input type="text" class="form-control" name="vehicle_no" placeholder="Vehicle Number">
  </div>
  <div class="form-group">
    <label>Model</label>
    <input type="text" class="form-control" name="Model" placeholder="Model">
  </div>
  <div class="form-group">
    <label>Year of Manufacuture</label>
    <input type="text" class="form-control" name="yom" placeholder="Year of Manufacture">
  </div>
  <div class="form-group">
    <label>Country of Manufacture</label>
    <input type="text" class="form-control" name="manufacture_country" placeholder="Country of Manufacture">
  </div>
  <div class="form-group">
    <label>Chasis No</label>
    <input type="text" class="form-control" name="chasis_no" placeholder="Chasis Number">
  </div>
  <div class="form-group">
    <label>Engine No</label>
    <input type="text" class="form-control" name="engine_no" placeholder="Engine Number">
  </div>
    <div class="form-group">
    <label>Vehicle Color</label>
    <input type="text" class="form-control" name="color" placeholder="Vehicle Color">
  </div>
  <button type="submit" class="btn btn-info">Submit</button>
</form>