<h2 class="page-header">Dashboard</h2>
<p>Welcome to your dashboard</p>
<a href="/register_vehicle" type="button" class="btn btn-primary">Regsiter Vehicle</a>  
<a href="/transfer_vehicle" type="button" class="btn btn-primary">Transfer ownership</a>
